@{
    ViewData["Title"] = "Contact Me";
}
<h2>@ViewData["Title"]</h2>

<address>
    <strong>GitHub:</strong><a href="https://github.com/zzq424">Welcome you!</a>
    <strong>Email:</strong><a href="mailto:997525106@qq.com">997525106@qq.com</a><br />
</address>
