<div class="row">
    <ng-template #content>
        <div class="modal-header">
            <h4 class="modal-title">添加项目</h4>
            <button type="button" class="close" aria-label="Close" (click)="close()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form class="form-inline" #itemForm="ngForm">
                <div class="row col-md-12">
                    <div class="col-md-6 form-group">
                        <label class="control-label">品类：</label>
                        <select class="form-control" [(ngModel)]="inboundReceiptItem.categoryId" required name="categoryId">
                            <option *ngFor="let item of categories" [value]="item.id">{{item.categoryName}}</option>
                        </select>
                    </div>
                    <div class="col-md-6 form-group">
                        <label class="control-label">产品：</label>
                        <input class="form-control" [(ngModel)]="inboundReceiptItem.productName" required name="productName" />
                    </div>
                </div>
                <div class="row col-md-12">
                    <div class="col-md-6 form-group">
                        <label class="control-label">库位：</label>
                        <input class="form-control" [(ngModel)]="inboundReceiptItem.storeCell" required name="storeCell" />
                    </div>
                    <div class="col-md-6 form-group">
                        <label class="control-label">数量：</label>
                        <input class="form-control" [(ngModel)]="inboundReceiptItem.num" required name="num" />
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-danger btn-danger" [disabled]="itemForm.invalid" (click)="close('submit')">确定</button>
            <button type="button" class="btn btn-outline-dark btn-info" (click)="close('cancel')">取消</button>
        </div>
    </ng-template>
    <div class="col-xs-12 col-md-12">
        <form class="" #inboundReceiptForm="ngForm" (ngSubmit)="onSubmit()">
            <!-- <div class="form-group col-xs-4 col-md-4">
                <label>入库单号：</label>
                <span class="form-control-static">{{inboundReceipt.receiptNo}}</span>
            </div> -->
            <div class="form-row row">
                <div class="form-group col-xs-4 col-md-4">
                    <label class="col-form-lable">运单号：</label>
                    <input type="text" class="form-control" [(ngModel)]="inboundReceipt.waybillNo" required name="waybillNo" />
                </div>
                <div class="form-group col-xs-4 col-md-4">
                    <label class="col-form-lable">供应商：</label>
                    <input class="form-control" [(ngModel)]="inboundReceipt.vendorName" required name="vendorName">
                </div>
                <div class="form-group col-xs-4 col-md-4">
                    <label class="col-form-lable">仓库：</label>
                    <select class="form-control" [(ngModel)]="inboundReceipt.warehouseId" required name="warehouseId">
                        <option value="-1">请选择仓库</option>
                        <option *ngFor="let item of warehouses" [value]="item.id">{{item.warehouseName}}</option>
                    </select>
                </div>
            </div>
            <div class="form-row row">
                <div class="form-group col-xs-4 col-md-4">
                    <label class="col-form-label">验收人：</label>
                    <input class="form-control" [(ngModel)]="inboundReceipt.acceptor" required name="acceptor">
                </div>
                <div class="form-group col-xs-4 col-md-4">
                    <label class="col-form-label">送货人：</label>
                    <input class="form-control" [(ngModel)]="inboundReceipt.deliveryman" required name="deliveryman">
                </div>
                <div class="col-xs-4 col-md-4">
                    <label class="col-form-label">是否完成：</label>
                    <select class="form-control" [(ngModel)]="inboundReceipt.isDone" name="isDone">
                        <option value="false">未完</option>
                        <option value="true">完成</option>
                    </select>
                </div>
            </div>
            <div class="form-row row">
                <div class="form-group col-md-4 offset-8">
                    <label class="col-form-label">总计：</label>
                    <input class="form-control form-control-plaintext" [value]="inboundReceipt.total" name="total">
                </div>
            </div>
            <table class="table table-bordered text-center">
                <thead>
                    <tr>
                        <th>类别</th>
                        <th>产品</th>
                        <th>规格</th>
                        <th>型号</th>
                        <th>单价</th>
                        <th>数量</th>
                        <th>单位</th>
                        <th>库位</th>
                        <td>操作</td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of inboundReceipt.inboundReceiptItems">
                        <td scope="row">{{item.categoryName}}</td>
                        <td>{{item.productName}}</td>
                        <td>{{item.productSpec}}</td>
                        <td>{{item.productModel}}</td>
                        <td>{{item.productPrice}}</td>
                        <td>{{item.num}}</td>
                        <td>{{item.productUnit}}</td>
                        <td>{{item.storeCell}}</td>
                        <td>
                            <button type="button" class="btn btn-danger"><i class="fa fa-remove"></i></button>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="8">请添加货品</td>
                        <td>
                            <button type="button" class="btn btn-success" (click)="open()"><i class="fa fa-plus"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="col-xs-12 col-md-12 text-center">
                <button type="submit" class="btn btn-info" [disabled]="inboundReceiptForm.invalid">确定</button>
                <button type="button" class="btn btn-success" (click)="returnToTable()">返回</button>
            </div>
        </form>
    </div>
</div>