<form class="form-horizontal" #avatarForm="ngForm">
    <div class="row text-center">
        <div class="col-md-12">
            <img [src]="avatarUrl" class="img img-thumbnail avatar-size">
        </div>
        <div class="col-md-12">
            <label for="file" class="btn btn-info btn-outline-success avatar-size">更换头像</label>
            <input id="file" type="file" class="btn btn-outline-secondary" (change)="onChangeSelectFile($event)" #fileInput value="切换头像" />
        </div>
        <div *ngIf="show" class="col-md-12">
            <div class="btn-group">
                <button type="button" class="btn btn-outline-success avatar-size-50" (click)="onSubmit()">确定</button>
                <button type="button" class="btn btn-outline-primary avatar-size-50" (click)="onCancel()">取消</button>
            </div>
        </div>
    </div>
</form>