<nav class="navbar navbar-fixed-top main-nav" role="navigation">
    <div class="container">
        <div class="header-nav">
            <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="navCollapse">
        <span class="fa fa-bars"></span>
      </button>
            <a class="btn-link btn btn-outline-light" routerLink="home" class="navbar-brand navbar-brand-my">
        NocWMS
      </a>
        </div>
        <div id="navCollapse" class="mr-auto mt-2 mt-lg-0" [ngbCollapse]="isCollapsed">
            <a class="btn btn-outline-light btn-light" routerLink="dashboard">
                <i class="fa fa-area-chart fa-2"></i> 仪表盘
            </a>
            <div ngbDropdown class="d-inline-block">
                <a href="javascript:void(0);" class="btn btn-outline-light btn-light" id="dropdownInventory" ngbDropdownToggle>
                    <i class="fa fa-bars fa-2"></i> 库存管理</a>
                <div ngbDropdownMenu aria-labelledby="dropdownInventory" class="dropdown-menu-right">
                    <a class="dropdown-item" routerLink="inventory/inventory-table">库存</a>
                    <a class="dropdown-item" routerLink="inventory/inbound-receipt-table">入库单</a>
                    <a class="dropdown-item" routerLink="inventory/outbound-receipt-table">出库单</a>
                </div>
            </div>
            <div ngbDropdown class="d-inline-block">
                <a href="javascript:void(0);" class="btn btn-outline-light btn-light" id="dropdownBasic" ngbDropdownToggle>
                    <i class="fa fa-cogs fa-2"></i> 基础资料
                </a>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic" class="dropdown-menu-right">
                    <a class="dropdown-item" routerLink="basic-data/warehouse-table">仓库资料</a>
                    <a class="dropdown-item" routerLink="basic-data/category-table">品类资料</a>
                    <a class="dropdown-item" routerLink="basic-data/vendor-table">供应商资料</a>
                    <a class="dropdown-item" routerLink="basic-data/customer-table">客户资料</a>
                    <a class="dropdown-item" routerLink="basic-data/staff-table">员工资料</a>
                    <a class="dropdown-item" routerLink="basic-data/warehouse-map">仓库地图</a>
                </div>
            </div>
            <div ngbDropdown class="d-inline-block">
                <a href="javascript:void(0);" class="btn btn-outline-light btn-light" id="dropdownSys" ngbDropdownToggle>
                    <i class="fa fa-area-chart fa-2"></i> 系统监控
                </a>
                <div ngbDropdownMenu aria-labelledby="dropdownSys" class="dropdown-menu-right">
                    <a class="dropdown-item" routerLink="sys/sysmonitor">站点统计</a>
                </div>
            </div>
        </div>
        <div>
            <div ngbDropdown class="d-inline-block">
                <a href="javascript:void(0);" class="btn btn-link btn-outline-dark" id="dropdownUser" ngbDropdownToggle>
                    <!-- <i class="fa fa-user-circle fa-2"></i> -->
                    <img src="{{currentUser?.avatar}}" class="img rounded-circle" style="width: 30px;" /> <span class="text-white">{{currentUser?.username}}</span>
                </a>
                <div ngbDropdownMenu aria-labelledby="dropdownUser" class="dropdown-menu-right">
                    <a routerLink="profile/info" class="dropdown-item">
                        <i class="fa fa-user-o"></i> 信息
                    </a>
                    <a routerLink="sys/sysmonitor" class="dropdown-item">
                        <i class="fa fa-sitemap"></i> 管理
                    </a>
                    <a class="dropdown-item" routerLink="sys/sysmonitor">
                        <i class="fa fa-gear"></i> 设置
                    </a>
                    <a class="dropdown-item" href="javascript:void(0);" (click)="onSignout()">
                        <i class="fa fa-sign-out"></i> 退出
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>